#quiz {
    margin: auto;
    width: 50%;
    padding: 30px;
    font-family: 'Gentium Basic', serif;
}

.btn {
    margin: 20px;
    background-color: #A0B9BF;
    color: white;
    font-family: 'Crimson Text', serif;
}