.navbar {
    background-color: #A0B9BF;
    width: 100%;
    font-family: 'Bungee Hairline', cursive;
    font-size: 30px;
    font-weight: bold;
}

.NavbarBrand {
    font-size: 50px;
    font-family: 'Bungee Hairline', cursive;
}

#login {
    width: 150px;
    height: 40px;
    background-image: url("./signin.png");
    background-size: 150px 40px;
    display: inline-block;
    padding-right: 50px;
}

#logout {
    width: 70px;
    height: 30px;
    background-image: url("./signout.png");
    background-size: 70px 30px;
    display: inline-block;
}

.username {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    font-family: 'Crimson Text', serif;
    color: #A0B9BF;
}